{{ define "main" }}
  <section class="taxonomy taxonomy-tag">
    <header class="taxonomy-header">
      <h1>Tag: {{ .Title }}</h1>
      <p>{{ len .Pages }} post{{ if ne (len .Pages) 1 }}s{{ end }} with <strong>#{{ .Title }}</strong></p>
    </header>
    <div class="taxonomy-posts">
      {{ $paginator := .Paginate (sort .Pages "Date" "desc") }}
      {{ range $paginator.Pages }}
        <article class="taxonomy-post">
          <a href="{{ .Permalink }}"><h3>{{ .Title }}</h3></a>
          <p class="summary">
            {{ if .Params.summary }}
                {{ .Params.summary }}
            {{ else }}
                {{ $content := .Content }}
                {{ $content := replaceRE `(?s)^(\s*<[uo]l>\s*<li>.*?</[uo]l>)` "" $content 1 }}
                {{ $content := replaceRE `(?s)^(\s*-\s*\[.*?\]\(#.*?\).*\n)+` "" $content 1 }}
                {{ $content := replaceRE `(?s)^(\s*\d+\.\s*\[.*?\]\(#.*?\).*\n)+` "" $content 1 }}
                {{ $content := replaceRE `(?s)<nav.*?</nav>` "" $content }}
                {{ $content := replaceRE `(?s)<table of contents.*?</table>` "" $content }}
                {{ $clean := $content | plainify | replaceRE `\s+` " " | strings.TrimPrefix " " }}
                {{ $trimmedContent := $clean | truncate 300 "..." }}
                {{ $trimmedContent }}
            {{ end }}
            </p>
          <p class="meta"><small>Published {{ .Date.Format "Mon, 02 Jan 2006" }}</small></p>
          {{- partial "tags.html" . -}}
        </article>
      {{ end }}
      {{ if gt $paginator.TotalPages 1 }}
        <nav class="list-nav">
          {{ if $paginator.HasPrev }}<a href="{{ $paginator.Prev.URL }}">Prev</a>{{ end }}
          {{ if $paginator.HasNext }}<a href="{{ $paginator.Next.URL }}">Next</a>{{ end }}
        </nav>
      {{ end }}
    </div>
  </section>
{{ end }}
